@media screen and (max-width: 1537px)
    .appheader
        height: 55px
        &__logo
            &__desktop
                width: 145px
        &__city
            &__name
                font-size: 12px
        &__feedback
            padding-left: 24px
            span
                font-size: 13px
        &__carticon
            span
                font-size: 13px

@media screen and (max-width: 1366px)
    .appheader
        height: 55px
        &__logo
            &__desktop
                width: 145px
        &__city
            width: 55%
            &__name
                font-size: 12px
        &__feedback
            width: 12.5%
            padding-left: 24px
            span
                font-size: 13px
                
        &__carticon
            width: 12.5%
            span
                font-size: 13px

@media screen and (max-width: 1024px)
    .appheader
        height: 45px
        &__logo
            &__desktop
                width: 110px
        &__city
            width: 70%
            &__name
                font-size: 12px
        &__feedback
            width: 5%
            padding-left: 24px  
            span
                font-size: 0
                &:before
                    top: 50%
                    right: 30%
                    transform: translateY(-50%)
                
        &__carticon
            padding-left: 11px
            width: 15%
            span
                font-size: 9px
                &:before
                    top: 50%
                    right: 70%
                    transform: translateY(-50%)
                
            &__counter
                display: block
                background-color: #32CD32
                border-radius: 100%
                width: 20px
                height: 20px
                font-size: 13px
                font-weight: 500
                color: #fff
                margin-left: 5px
                vertical-align: middle

@media screen and (max-width: 890px)
    .appheader
        &__feedback
            span
                
        &__carticon
            span
                font-size: 0
                &:before
                    right: 56%
                

@media screen and (max-width: 768px)
    .appheader
        &__feedback
            width: 6%
        &__carticon
            width: 9%
            span
                font-size: 0px

@media screen and (max-width: 658px)
    .appheader
        &__carticon
            &__counter
                margin-left: 12px
            span
                &:before
                    right: 50% 
@media screen and (max-width: 576px)
    .appheader
        &__logo
            width: 30%
        &__city
            width: 40%
        &__feedback
            width: 10%
            span
                &::before
                    right: 50%
                    transform: translate(50%, -50%)
        &__carticon
            width: 20%
            span
                font-size: 0px
                &::before
                    right: 60%
                    top: 50%
                    transform: translateY(-50%)


@media screen and (max-width: 495px)
    .appheader
        &__logo
            width: 10%
            &__desktop
                display: none
            &__mobile
                display: block
                width: 70%
                margin: 0 auto
        &__city
            width: 60%

@media screen and (max-width: 320px)
    .appheader
        &__carticon
            span
                &::before
                    right: 50%