@media screen and (max-width: 1441px)
    .app-footer
        &__top
            padding: 10px 75px
            &__links-line
                padding: 0 140px
                a
                    font-size: 14px
        &__bottom
            a
                font-size: 13px
            span
                font-size: 13px

@media screen and (max-width: 1280px)
    .app-footer
        &__top
            &__links-line
                padding: 0 100px

@media screen and (max-width: 1140px)
    .app-footer
        &__top
            &__links-line
                padding: 0 70px

@media screen and (max-width: 1024px)
    .app-footer
        width: 100%
        &__top
            padding: 10px 75px
            &__links-line
                padding: 0 120px
                a
                    font-size: 13px
        &__bottom
            a
                font-size: 13px
            span
                font-size: 13px
    
@media screen and (max-width: 1024px)
    .app-footer
        &__top
            &__links-line
                padding: 0 70px

@media screen and (max-width: 812px)
    .app-footer
        &__top
            &__links-line
                padding: 0 40px

@media screen and (max-width: 768px)
    .app-footer
        &__top
            &__links-line
                padding: 0 40px
                a
                    font-size: 12px
        &__bottom
            a
                font-size: 12px
            span
                font-size: 12px

@media screen and (max-width: 700px)
    .app-footer
        &__top
            &__links-line
                padding: 0 20px

@media screen and (max-width: 630px)
    .app-footer
        &__top
            align-items: flex-start
            &__links-line
                padding: 0 70px
                flex-direction: column
                a
                    text-align: center
                    margin-bottom: 5px

@media screen and (max-width: 576px)
    .app-footer
        &__top
            flex-direction: column
            align-items: flex-start
            padding: 10px 40px
            &__paymethods
                width: 30%
                padding-left: 11px
            &__logo
                width: 40%
            &__links-line
                flex-direction: column
                padding: 0 10px
                a
                    font-size: 14px
                    text-align: start
        &__bottom
            padding: 10px 50px
            a
                font-size: 10px
            span
                font-size: 10px

@media screen and (max-width: 495px)
    .app-footer
        &__top
            flex-direction: column
            align-items: center
            padding: 10px 10px
            &__links-line
                width: 100%
                flex-direction: row
                flex-wrap: wrap
                padding: 0 2%
                margin-top: 10px
                a
                    font-size: 14px
                    margin-bottom: 5px
            &__paymethods
                width: 60%
                padding: 0
        &__bottom
            flex-direction: column-reverse
            align-items: center
            a
                margin-bottom: 5px
                font-size: 14px

@media screen and (max-width: 410px)
    .app-footer
        &__top
            &__links-line
                flex-direction: column
                a
                    font-size: 14px
                    text-align: center

@media screen and (max-width: 375px)
    .app-footer
        &__top
            &__links-line
                a
                    font-size: 14px