@media screen and (max-width: 1441px)
    .app-footer
        &__top
            padding: 10px 75px
            &__links-line
                padding: 0 160px
                a
                    font-size: 14px
        &__bottom
            a
                font-size: 13px
            span
                font-size: 13px

@media screen and (max-width: 1024px)
    .app-footer
        width: 100%
        &__top
            padding: 10px 75px
            &__links-line
                padding: 0 120px
                a
                    font-size: 13px
        &__bottom
            a
                font-size: 13px
            span
                font-size: 13px

@media screen and (max-width: 812px)
    .app-footer
        &__top
            &__links-line
                padding: 0 65px

@media screen and (max-width: 768px)
    .app-footer
        &__top
            &__links-line
                padding: 0 60px
                a
                    font-size: 12px
        &__bottom
            a
                font-size: 12px
            span
                font-size: 12px