
@media screen and (max-width: 768px)  
    .menu-list-block
        margin-left: 98px

@media screen and (max-width: 576px)
    .menu-list-block
        margin-left: 56px
        &__item
            position: relative
            margin-top: 25px
            margin-right: 20px
            margin-bottom: 10px
            height: 350px
            max-width: 220px
            background-color: #fff
            img
                width: 220px
            &__info-container
                width: 220px
            &__infotext
                width: 220px
        &__item-wrapper
            margin-bottom: 15px