@media screen and (max-width: 1441px) 
    .restaurant-info
        padding-top: 55px
@media screen and (max-width: 1024px) 
    .restaurant-info
        width: 100%
        padding-top: 45px
@media screen and (max-width: 576px)
    .restaurant-info
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        &__right-side
            margin-right: 0
            margin-left: 10%
@media screen and (max-width: 495px)
    .restaurant-info
        width: 100%
        flex-direction: column-reverse
        justify-content: space-between
        padding-right: 10%
        align-items: center
        padding-right: 0
        margin-bottom: 2%
        min-height: 240px
        &__right-side
            margin: 0
            padding-bottom: 0
        &__left-side
            margin: 0
            width: 90%
            &__info-items
                flex-direction: row
                justify-content: space-around
                &__item
                    margin-right: 0
                    margin-top: 0
            &__title
                display: none
        &__right-side
            img
                width: 146px
@media screen and (max-width: 375px)
    .restaurant-info
        &__left-side
            width: 90%
            margin: 0
            &__info-items
                &__item
                    text-align: center
                    width: 100%
                    font-size: 8.5px
            