@media screen and (max-width: 1024px)
    .modal-order
        &-form
            width: 65%
            padding: 30px 25px 10px 25px
            &__close
                right: 19%

@media screen and (max-width: 812px)
    .modal-order
        &-form
            width: 65%
            padding: 30px 25px 10px 25px
            min-height: 93%
            &__input
                &__comment
                    height: 150px

@media screen and (max-width: 768px)
    .modal-order-form
            width: 90%
            min-height: 60%
            &__close
                right: 8%

@media screen and (max-width: 375px)
    .modal-order-form
        &__button
            width: 90%
            font-size: 15px
            